<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>
<body>
    <form action="add" method="POST">
        <label for="name">
            Name:
            <input type="text" name="name" id="name" required>
        </label>
        <label for="age">
            Age:
            <input type="number" name="age" id="age" required>
        </label>
        <label for="pass">
            Password:
            <input type="password" id="pass" name="pass" required>
        </label>
        <input type="submit" value="Adicionar">
    </form>
</body>
</html>