@using rinha_backend_cs.Models

@model IEnumerable<User>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    users
    <table>
        <thead>
            <tr>
                <th>ID</td>
                <th>Name</td>
                <th>Age</td>
                <th>Password</td>
            </tr>
        </thead>
        <tbody>
            @foreach(var user in Model){
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.Age</td>
                    <td>@user.Password</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</htusing System.Collections;
#line default
